<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaBairroController</servlet-name>
        <servlet-class>controller.PesquisaBairroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEmailController</servlet-name>
        <servlet-class>controller.PesquisaEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaFormaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLigacaoController</servlet-name>
        <servlet-class>controller.PesquisaLigacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <servlet-class>controller.PesquisaUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaListaProduto</servlet-name>
        <servlet-class>controller.PesquisaListaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaNivelController</servlet-name>
        <servlet-class>controller.PesquisaNivelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <servlet-class>controller.PesquisaPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBairroController</servlet-name>
        <servlet-class>controller.ManterBairroController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>ManterFormaPagamentoController</servlet-name>
        <servlet-class>controller.ManterFormaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEmailController</servlet-name>
        <servlet-class>controller.ManterEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterNivelController</servlet-name>
        <servlet-class>controller.ManterNivelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUsuarioController</servlet-name>
        <servlet-class>controller.ManterUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPedidoController</servlet-name>
        <servlet-class>controller.ManterPedidoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaBairroController</servlet-name>
        <url-pattern>/PesquisaBairroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <url-pattern>/PesquisaFormaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEmailController</servlet-name>
        <url-pattern>/PesquisaEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLigacaoController</servlet-name>
        <url-pattern>/PesquisaLigacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <url-pattern>/PesquisaUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaListaProduto</servlet-name>
        <url-pattern>/PesquisaListaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaNivelController</servlet-name>
        <url-pattern>/PesquisaNivelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <url-pattern>/PesquisaPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBairroController</servlet-name>
        <url-pattern>/ManterBairroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>ManterFormaPagamentoController</servlet-name>
        <url-pattern>/ManterFormaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEmailController</servlet-name>
        <url-pattern>/ManterEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterNivelController</servlet-name>
        <url-pattern>/ManterNivelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUsuarioController</servlet-name>
        <url-pattern>/ManterUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPedidoController</servlet-name>
        <url-pattern>/ManterPedidoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
