html,body{
	height:100%;
	margin:0;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  	font-size: 0.9em !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-90 { font-size: 90px; }

.icone {
	color: #80cbc4 !important;
}

.titulo-topo {
	text-align: center;
}

